/* This is the universal styling */

*{
    margin: 0px;
    padding:0px;
}

.section-padding1{
    padding: 40px 40px;
}


.btn{
    background-color: #088178;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    width: 5%;
    font-size: 10px;   
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* This is the body styling */

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



 #expn-form{
    text-align: center;
    margin-top:10% ;
    background-color:rgba(0, 0, 0, 0.08);
    height: 500px;
    width: 1000px;
    border-radius: 20px;
}



#expn-form  select,
#expn-form  input{
    
        font-size: 15px;
        height: 25px;
        margin-right: 15px;
        padding: 7px;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        width: 18%;
    
}



#expn-form .total{
    font-size: 30px;
    color: #088178;
}

#expn-form .total strong{
    color: #fff;
}

#expn-form h1{
    font-size: 40px;
    color: #222;
}

.scroll{
    height: 300px;
    overflow-y: scroll;
}
#expn-form table{
    padding: 40px 40px;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    
}
table th, table td {
    padding: 10px;
    border: 1px solid #4e8a9c;
    text-align: left;
}

table  th {
    background-color: #f6e8d8;
}

.scroll button{
    background-color:  #088178;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #f84242;
    width: 100%;
}
/* This is the styling of dolist.html */
#list-container{
    text-align: center;
    margin-top:10% ;
    background-color:rgba(0, 0, 0, 0.08);
    height: 400px;
    width: 1000px;
    border-radius: 20px;
}

#list-container input{
    font-size: 15px;
    height: 25px;
    margin-right: 20px;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    width: 50%;
}

#list-container h1{
    font-size: 40px;
    color: #222;
}
/* This the styling for pagination */

.pagination {
    text-align: center;
    margin-top: 2rem;
    
}

.pagination a {
    color: #222;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #222;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #222;
    color: white;
}

.pagination .active {
    background-color: #222;
    color: white;
}
